// Bootstrap library.
@import '../less-includes/usgs/usgs-bootstrap.less';

// Generate min heights to allow for proper alignment of elemenets
// across columns
.generate-fixed-heights(25);

.generate-fixed-heights(@n, @i:1) when (@i =< @n) {
  .fixed-height-@{i} {
    min-height: @i * unit(@line-height-base, em);
  }
  
  .generate-fixed-heights(@n, @i + 1);
}

.ctr {
  text-align: center;
}

// Panels IPE
div#panels-ipe-control-container {
  z-index: 99999;
  margin-left: -15px;
  position: fixed;
  bottom: 0;
  display: none;
  background-color: #000;
  padding: 0.5em 0;
  width: 985px;
  overflow: hidden;
  -moz-box-shadow: 0 3px 20px #000;
  -webkit-box-shadow: 0 3px 20px #000;
  box-shadow: 0 3px 20px #000;
}

@font-face {
  font-family: 'texgyreheroscnregular';
  src: url('../fonts/texgyreheroscn_regular/texgyreheroscn-regular-webfont.eot');
  src: url('../fonts/texgyreheroscn_regular/texgyreheroscn-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/texgyreheroscn_regular/texgyreheroscn-regular-webfont.woff') format('woff'),
       url('../fonts/texgyreheroscn_regular/texgyreheroscn-regular-webfont.ttf') format('truetype'),
       url('../fonts/texgyreheroscn_regular/texgyreheroscn-regular-webfont.svg#texgyreheroscnregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
